@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-link {
    @apply block px-6 py-3 text-sm font-medium text-paragraph
           hover:bg-sky-50 hover:text-sky-600 transition;
  }
}